# ----------------------
# Flask
# ----------------------
Flask==0.8
Flask-WTF==0.5.4


# ----------------------
# Testing
# ----------------------
mock==0.8.0


# ----------------------
# Database
# ----------------------
SQLAlchemy==0.7.5
Flask-SQLAlchemy==0.15


# ----------------------
# Production Server
# ----------------------
#gevent==0.13.6
#gunicorn==0.14.1


# -------------------------
# For Consumer Notebook API
# -------------------------
requests==0.10.6