{% extends "base.html" %}

{% block js %}
{% endblock %}


{% block main %}
<div class="container">
    <div class="row">
        <div class="span9">
            <h2>Consumer Notebook - Flask Sample App</h2>            
            <p>
                Enter in any username and your API key to see the products that the user has bookmarked on Consumer Notebook.
            </p>
            {% from "_form_helpers.html" import render_field %}
            <form class="well form-inline" method="POST" action="">
                {{ render_field(form.username) }}
                {{ render_field(form.api_key) }}
                <p>
                    <button type="submit" class="btn">Go</button>
                </p>
            </form>
        </div>
        <div class="span7">
            <h3>What is this?</h3>
            <p>
                This is a demo showing how to use the Consumer Notebook API in a sample Flask app.
            </p>

            <p>
                The code for this is at <a href="https://github.com/consumernotebook/cn-flask-sample">https://github.com/consumernotebook/cn-flask-sample</a>.
            </p>
            <p>
                Grab the code and experiment with it!
            </p>

            </p>
            <h3>Questions?</h3>
            <p>
                See <a href="http://developers.consumernotebook.com">developers.consumernotebook.com</a> for how to get help.
            </p>
    </div>
</div>
{% endblock %}
