{% extends "base.html" %}

{% block js %}
{% endblock %}


{% block main %}
<div class="container">
    <div class="row">
        <div class="span9">
            <h2>Home</h2>            
            <p>
                
            </p>
            {% from "_form_helpers.html" import render_field %}
            <form class="well form-inline" method="POST" action="">
                {{ render_field(form.username) }}
                {{ render_field(form.api_key) }}
                <p>
                    <button type="submit" class="btn">Go</button>
                </p>
            </form>
        </div>
        <div class="span7">
            <h3>What is this?</h3>
            <p>
                This is a mash-up between <a href="http://consumernotebook.com">Consumer Notebook</a> and <a href="http://amazon.com">Amazon.com</a>.
            </p>
            <p>
                Login to start adding books!
            </p>

            </p>
    </div>
</div>
{% endblock %}
